{% extends  "base.html" %}

{% block content %}

    <form action="" method="POST">
        {{form.hidden_tag()}}
        <fieldset>
        <legend>Sign up</legend>
            <div>
                {{ form.fullname.label }} <br>
                {{ form.fullname }}
                {% for error in form.fullname.errors %}
                    <span style="color: brown;">[{{error}}]</span>
                {% endfor %}
            </div> <br>
            <div>
                {{ form.username.label }} <br>
                {{ form.username }}
                {% for error in form.username.errors %}
                    <span style="color: brown;">[{{error}}]</span>
                {% endfor %}
            </div> <br>
            <div>
                {{ form.email.label }} <br>
                {{ form.email }}
                {% for error in form.email.errors %}
                    <span style="color: brown;">[{{error}}]</span>
                {% endfor %}
            </div> <br>
            <div>
                {{ form.password.label }} <br>
                {{ form.password }}
                {% for error in form.password.errors %}
                    <span style="color: brown;">[{{error}}]</span>
                {% endfor %}
            </div> <br>
            <div>
                {{ form.confirm_password.label }} <br>
                {{ form.confirm_password }}
                {% for error in form.confirm_password.errors %}
                    <div><span style="color: brown;">[{{error}}]</span></div>
                {% endfor %}
            </div> <br>
            <div>
                {{form.submit}}
            </div>
        </fieldset>
    </form>
    

    <small>already have an account...? <a href="{{url_for('login')}}">log in</a></small>
   
    

{% endblock content %}